[Unit]
Description=Automatic bird-thing photography

[Service]
Restart=on-failure
RestartSec=5s
ExecStart=%h/.local/bin/birdthing

[Install]
WantedBy=default.target
